.article-title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    transition: all .3s;

    &:hover {
        color: #000;
    }

    span {
        position: relative;
        display: inline-block;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 51%;
            right: 51%;
            transition: all .3s;
            border-bottom: 2px solid #000;
        }
    }

    @media (max-width: 768px) {
        span {
            &:after {
                display: none;
            }
        }
    }

    &:hover {
        span:after {
            left: 0;
            right: 0;
        }
    }

    .tag {
        font-style: normal;
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding: 0 3px;
        font-size: 14px;
        margin-right: 5px;
    }
}

.article-info {
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-bottom: 20px;

    .span, span {
        display: inline-block;
        padding-right: 1em;
        color: #999;
    }

    .collection {
        color: #ff0068;
        cursor: pointer;
    }

    .cur {
        &:hover {
            text-decoration: underline;
            color: #333;
        }
    }

    i {
        font-size: 12px;
        margin-right: 3px;
    }

    a {
        color: #333;
    }
}

.article-tags {
    text-align: center;
    margin-top: 40px;

    a {
        margin: 0 1em;
        color: #666;
        font-size: 12px;
        border-bottom: 1px solid #666;
    }
}
